<h1>This petition has been taken down. We apologize for any inconvenience.</h1>
    <h3>If you did not get a chance to sign, please email <a href="mailto:PeopleOfStAlbans@gmail.com"></a>PeopleOfStAlbans@gmail.com</h3>

    <form class="" action="/signatures" method="post">
      <label>
        <input type="checkbox" name="signature[confidentiality]" value="true" class="checkbox">
          If you would like your name kept from being visible, check here
      </label><br>
      <input class="input" type="text" name="signature[name]" placeholder="Add your name"><br>
      <input class="submit"type="submit" value="Sign">

    </form>
