<h2>Sign the Petition!</h2>
<article class="petition">
  <table>
    <tr>
      <td>
        <strong>To:</strong>
      </td>
      <td>
        <strong>The Right Reverend Mariann Edgar Budde, Episcopal Bishop of Washington</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>The Reverend Doctor Deborah Meister</strong>
      </td>
    </tr>
    <tr>
      <td>
        <strong>cc:</strong>
      </td>
      <td>
        <strong>The Wardens and Vestry of St. Alban’s Episcopal Church</strong>
      </td>
    </tr>
  </table>

  <p class="underline">
    Turmoil within St. Alban’s Parish
  </p>
  <p>
    The recent abrupt dismissal of the parish’s music director, Sonya Subbayya Sutton, was a great

shock to the majority of the parishioners of St. Alban’s Parish.  The event, most particularly the

manner in which it was handled, has left the parish in turmoil and disharmony.  Many

parishioners are confused, unclear as to what brought about the dismissal, and divided as to

how the parish can recover its former vitality and move forward as a cohesive group, trusting in

our leadership.  Many parishioners have a strong desire to retain both the rector and the

former music director and to engage in a formal, professionally mediated process of

reconciliation among the leaders and the parishioners, in order to restore trust and harmony.
  </p>
  <p class="underline">
    Request for Reinstatement and Reconciliation
  </p>
  <p>
    We petition for the immediate reinstatement of Sonya Sutton as St. Alban’s music director, to

be followed by a formal, professionally mediated process of reconciliation between Sonya and

the rector and, separately, with the parish. We pray that both Sonya and the rector will agree

to this course of action, which we believe will benefit everyone.  Neither reinstatement nor the

work of reconciliation alone will suffice to eliminate the deep divisions and sense of mistrust

now permeating the parish.  Healing for the entire parish is not possible without the

reinstatement of Sonya.  Some parishioners have announced their intention to leave; others

have stated they will reduce or withdraw their monetary or other personal commitments to the

parish.  Similarly, unless the parish undertakes the work of reconciliation, the healing and

recommitment to the well-being of the parish as a whole and to each other as members and

leaders of the parish simply will not occur; there are too many unresolved issues and too much

doubt and confusion.
  </p>
  <p>
Because the well-being of the parish is at stake, we respectfully and urgently request that  </p>
  <p>
(1) the rector reinstate Sonya Sutton as music director of St. Alban’s Parish and  </p>
  <p>
    (2) the Bishop then assist in undertaking the steps toward reconciliation involving the parish as

    a whole--its rector, associate rectors, reinstated music director, staff and parishioners.  </p>
  <p class="underline">
Need for Reinstatement
  </p>
  <p>
    St. Alban’s has experienced many changes during the past ten years, including the appointment

    and subsequent departure of rectors, along with associate rectors and staff.   During that time

    and for a total of more than twenty years, Sonya has been a constant in the life of the parish.

    Sonya’s widely-acclaimed talent and dedication to her work, God, and the parish has shone

    forth through her work as the parish’s sole organist; the director of its five choirs; the organizer

    and director of the parish’s free, monthly “Arts at Midday” series; a regular and highly regarded

    contributor to the parish’s daily spiritual offering, “The Daily Cup”; and the leader of four

    successful international choir tours.   In a parish that has had to endure so much change for so

    long, the loss of a well-loved, highly regarded, consistent presence in the daily spiritual life of

    the parish is a significant destabilizing factor for the parish.  </p>
  <p class="underline">
    Need for Reconciliation
  </p>
  <p>
    Reconciliation among the rector, the associate rectors, Sonya Sutton, and the members of St.

    Alban’s Parish is needed, because the manner of Sonya’s dismissal created or uncovered many

    divisions, trust and transparency issues, and the recent absence of full and accurate disclosure

    between parish leaders and the other members of the parish.  In addition, it has unsettled the

    parish to learn that information conveyed to parishioners by our leaders appears to have been

    inaccurate or incomplete, and Sonya has not been allowed to respond to allegations, nor have

    Sonya and the rector been given the benefit of professional mediation.  These divisions and the

    damage to the relationships within the parish must be repaired, and members and leaders of

    parish need the transformative experience, with its accompanying repair of trust and

    relationships, that the work of reconciliation will produce.  </p>
  <p class="indent">
    We hope that you will appreciate the urgency of this matter by your prompt assistance in its

resolution.   Thank you for your consideration of our request.
  </p>
  <p>
    Sincerely,
  </p>
  <p>
    The members of St. Alban’s Parish listed below:
  </p>
  <p>
    <%@signatures.each do |signature|%>
      <%unless signature.confidentiality==true%>
       <%letters=('A'..'z')%>
        <%letters.each do |check|%>
            <%if signature.name.include?(check)%>
              <%=signature.name%> ●
              <%break%>
            <%end%>
         <%end%>
      <%end%>
    <%end%>
  </p>
</article>


<form class="" action="/signatures" method="post">
  <label>
    <input type="checkbox" name="signature[confidentiality]" value="true" class="checkbox">
      If you would like your name kept from being visible, check here
  </label><br>
  <input class="input" type="text" name="signature[name]" placeholder="Add your name"><br>
  <input class="submit"type="submit" value="Sign">

</form>
