<a href="/petition">The Petition for Reconciliation</a>
<h1> Letter to the Vesty</h1>
<article class="petition">
  <table>
    <tr>
      <td>
        <strong>To:</strong>
      </td>
      <td>
        <strong>The Reverend Doctor Deborah Meister</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Deborah Potter, Senior Warden</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Rich Turner, Junior Warden</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Craig Albright</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Mark Edwards</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Ivan Fermin</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Marcy Fisher</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Marcus King</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Sandy Kolb</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Tomas Montgomery</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Ann Morrison</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Donna Palmer</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Ken Patterson</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Joan Phalen</strong>
      </td>
    </tr>
    <tr>
      <td></td><td>
        <strong>Marty Welch</strong>
      </td>
    </tr>
    <p>
      With cc to the Bishop:
    </p>
    <tr>
      <td>
        <strong>cc:</strong>
      </td>
      <td>
        <strong>The Right Reverend Mariann Edgar Budde, Episcopal Bishop of Washington</strong>
      </td>
    </tr>
  </table>

  <p>
    Dear Vestry Member
  </p>
  <p>
    As members of St. Alban’s, we are deeply concerned about the lack of

transparency of the vestry in the matter of the firing of the parish music

director, Sonya Sutton.  We have been told that the meeting with the Bishop

on Tuesday night was a closed executive session; as a result, we understand

that the vestry’s plan is to share no details from the meeting with the parish.

The vestry denied our petition without (1) providing a rationale for Sonya’s

dismissal or (2) answering the questions raised at the open vestry meeting the

previous week.  The investigation which the vestry authorized at that meeting

should be completed, made public for the parish, and considered before the

vestry makes a decision about how to respond to the petition.  We have had

no response to the issues raised in the petition that was signed by nearly 200

of our parish community.
  </p>

  <p>
    We request that the vestry tell us the truth about what happened and why. We

need to understand the basis for the firing of our beloved music director. We

are not satisfied that this issue will simply go away.  It has harmed our parish

in irreparable ways.  Our request to reinstate Sonya and to engage in

reconciliation to be conducted among all parties has been summarily rejected

and virtually ignored.  There can be no reconciliation within the parish without

the truth first being known and shared.
  </p>
  <p>
    We trust, as the managing body of this parish and as our representatives, that

you will respond to these requests in a full and satisfactory manner.
  </p>
  <p>
    Sincerly,
  </p>
  <%confcount=0%>
    <%@signatures.each do |signature|%>
      <%unless signature.confidentiality==true%>
        <%letters=('A'..'z')%>
        <%letters.each do |check|%>
            <%if signature.name.include?(check)%>
              <%=signature.name%> ●
              <%break%>
            <%end%>
         <%end%>
      <%else%>
        <%=confcount%>
      <%end%>
    <%end%>
  </p>
  <h4>2 Timothy 2:24 :</h4> <h6>“The Lord’s servants must not quarrel but must be kind to everyone.  They

must be able to teach effectively and be patient with difficult people.”</h6>
</article>

<form class="" action="/signatures" method="post">
  <label>
    <input type="checkbox" name="signature[confidentiality]" value="true" class="checkbox">
      If you would like your name kept from being visible, check here
  </label><br>
  <input class="input" type="text" name="signature[name]" placeholder="Add your name"><br>
  <input class="submit"type="submit" value="Sign">
</form>
