<form class="" action="/signatures" method="post">
  <label>
    <input type="checkbox" name="signature[confidentiality]" value="true" class="checkbox">
      If you would like your name kept from being visible, check here
  </label><br>
  <input class="input" type="text" name="signature[name]" placeholder="Add your name"><br>
  <input class="submit"type="submit" value="Sign">
</form>

<%count=0%>
<%confcount=0%>
<ul>
  <%@signatures.each do |signature|%>
    <li>
      <%count += 1%>
      <%=signature.name%> <%if signature.confidentiality==true%><%confcount+=1%> Signed Confidentially <%end%>
      <form class="" action="/signatures/<%=signature.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <%end%>
</ul>
<p>
  Total people: <%=count%>, Total confidential signers: <%=confcount%>
</p>
