<%count=0%>
<%confcount=0%>
<ul>
  <%@signatures.each do |signature|%>
    <li>
      <%count += 1%>
      <%=signature.name%> <%if signature.confidentiality==true%><%confcount+=1%> Signed Confidentially <%end%>
      <form class="" action="/signatures/<%=signature.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">delete</button>
      </form>
    </li>
  <%end%>
</ul>
<p>
  Total people: <%=count%>, Total confidential signers: <%=confcount%>
</p>
